{% extends "app/layout.html" %}

{% block content %}
<style>body{
    
    padding:0;
    margin:0;
  }

  .mybutton1{
    
    width: 50%;
  }

  .mybutton2{
    
    width: 16%;
    
  }

  .mybutton3{
    
    width: 7%;
  }
    .newme, .newme2 {
      float: left;
      box-sizing: border-box;
      width: 50%;
      padding: 10px;
    }
 
    
    </style>
<h2>{{ title }}.</h2>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSefYe3YPuvD8p1GoYEt3UMQyUACMzkf-yxJJyQc70Xl0pc2gQ/viewform">
<button class="btn" >Contact and give us your valueable Feedback :
    </button></a>
<div class="onebox">


<div class="newme2">
<h3>TESTING CENTRES</h3>

Complete list of the test centres across the country:<br />
Government Hospitals and Laboratories<br />
    <br />
<b>Andhra Pradesh</b><br />
Sri Venkateswara Institute of Medical Sciences, Tirupati<br />
Rangaraya Medical College, Kakinada<br />
Sidhartha Medical College, Vijaywada,<br />
    <br />
<b>Assam</b><br />
Gauhati Medical College, Guwahati<br />
Regional Medical Research Center, Dibrugarh<br />
Jorhat Medical College, Jorhat<br />
Silchar Medical College, Silchar<br />
    <br />
<b>Bihar<br /></b>
Rajendra Memorial Research Institute of Medical Sciences,<br />
Patna<br />
Darbhanga Medical College<br />
    <br />
<b>Chandigarh<br /></b>
Post Graduate Institute of Medical Education & Research,Chandigarh<br />
Govt. Medical College, Chandigarh<br />
    <br />
<b>Chattisgarh<br /></b>
All India Institute of Medical Sciences, Raipur<br />
Late Baliram Kashyap M Govt. Medical College, Jagdalpurv<br />
    <br />
<b>Delhi<br /></b>
All India Institute Medical Sciences<br />
Lady Hardinge Medical College<br />
National Centre for Disease Control<br />
Ram Manohar Lohia Hospital<br />
Institute of Liver & Biliary Sciences<br />
Army Hospital Research & Referral<br />
    <br />
 <br />



<b>Gujarat<br /></b>
BJ Medical College, Ahmedabad<br />
MP Shah Govt Medical College, Jamnagar<br />
Govt. Medical College, Surat<br />
Govt. Medical College, Bhavnagar<br />
    <br />
<b>Haryana<br /></b>
Pt. B.D. Sharma Post Graduate Inst. of Med. Sciences,Rohtak, Haryana<br />
BPS Govt. Medical College, Sonipat<br />
    <br />
<b>Himachal Pradesh<br /></b>
Indira Gandhi Medical College, Shimla<br />
Dr. Rajendra Prasad Govt. Medical College, Tanda<br />
<br />
<b>Jammu & Kashmir<br /></b>
Govt. Medical College, Jammu<br />
Command Hospital (NC) Udhampur<br />
Sher-i-Kashmir Institute of Medical Sciences, Srinagar<br />
Govt. Medical College, Srinagar<br />
    <br />
<b>Jharkhand<br /></b>
MGM Medical College & Hospital, Jamshedpur<br />
    <br />
<b>Karnataka<br /></b>
Hassan Inst. of Med. Sciences, Hassan<br />

Mysore Medical College & Research Institute, Mysore<br />
Shimoga Instt. of Medical Sciences, Shivamoga Inst. of Med.Sciences, Shivamogga<br />
Command Hospital (Air Force) Bengaluru<br />
Bangalore Medical College & Research Institute, Bengaluru<br />
National Institute of Virology, Bangalore Field Unit, Bengaluru<br />
Gulbarga Institute of Medical Sciences, Gulbarga<br />
    <br />
<b>Kerala<br /></b>
National Institute of Virology Field Unit, Allapuzzha<br />
Govt. Medical College, Thiruvanathapuram<br />
Govt. Medical College, Kozhikode<br />
Govt. Medical College, Thrissur<br />
Rajiv Gandhi Center for Biotechnology, Thiruvanathapuram<br />
Sree Chitra Tirunal Institute of Medical Sciences,Thiruvanathapuram<br />
    <br />
<b>Maharashtra<br /></b>
National Institute of Virology, Pune<br />
Seth GS Medical College & KEM Hospital, Mumbai<br />
Kasturba Hospital for Infectious Diseases, Mumbai<br />
National Institute of Virology Field Unit, Mumbai<br />
Armed Forces Medical College, Pune<br />
BJ Medical College, Pune<br />
Indira Gandhi Govt. Medical College, Nagpur<br />
    <br />
<b>Madhya Pradesh<br /></b>
All India Institute of Medical Sciences, Bhopal<br />
National Institute for Research on Tribal Health, Jabalpur<br />
Mahatma Gandhi Memorial Medical College, Indore<br />
Govt. Medical College, Bhopal<br />
    <br />
<b>Manipur<br /></b>
Jawaharlal Nehru Institute of Med. Sciences, Imphal-East, Manipur<br />
Regional Institute of Medical Sciences, Imphal<br />
    <br />
<b>Meghalaya<br /></b>
North Eastern Indira Gandhi Regional Institute of Health & Medical Sciences, Shillong, Meghalaya<br />
    <br />
    <br />
<b>Odisha<br /></b>
Regional Medical Research Centre, Bhubaneshwar<br />
    <br />
<b>Puducherry<br /></b>
Jawaharlal Institute of Postgraduate Medical Education & Research, Puducherry<br />
    <br />
<b>Punjab<br /></b>
Govt. Medical College, Amritsar<br />
Govt. Medical College, Patiala<br />
    <br />
<b>Rajasthan<br /></b>
Sawai Man Singh Medical College, Jaipur<br />
Dr Sampurnanand Medical College, Jodhpur<br />
Jhalawar Medical College, Jhalawar<br />
RNT Medical College, Udaipur<br />
SP Medical College, Bikaner<br />
All India Institute of Medical Sciences, Jodhpur<br />
JLN Medical College, Ajmer<br />
    <br />
<b>Tamil Nadu<br /></b>
King Institute of Preventive Medicine & Research, Chennai<br />
Madras Medical College, Chennai<br />
Govt. Theni Medical College, Theni<br />
Tirunelveli Medical College, Tirunelveli<br />
Govt. Medical College, Thiruvarur<br />
Kumar Mangalam Govt. Medical College, Salem<br />
Coimbatore Medical College, Coimbatore<br />
    <br />
<b>Telangana<br /></b>
Gandhi Medical College, Secunderabad<br />
Osmania Medical College, Hyderabad<br />
    <br />
<b>Tripura<br /></b>
Government Medical College, Agartala<br />
    <br />
<b>Uttar Pradesh<br /></b>
King George Medical University, Lucknow<br />
Institute of Medical Sciences, Banaras Hindu University,Varanasi<br />
Jawaharlal Nehru Medical College, Aligarh<br />
Command Hospital, Lucknow<br />
    <br />
<b>Uttarakhand</b><br />
Govt. Medical College, Haldwani<br />
    <br />
<b>West Bengal</b><br />
National Institute of Cholera & Enteric Diseases, Kolkata<br />
Institute of Post Graduate Medical Education & Research, Kolkata<br />
Midnapore Medical College, Midnapore<br />
    <br />
<b>Andaman & Nicobar Islands</b><br />
Regional Medical Research Centre, Port Blair<br />
    <br />
<b>Private Labs</b> <br />
<b>Gujrat</b><br />
Unipath Specialty laboratory limited, Ahmedabad<br />
    <br />
<b>Karnataka</b><br />
Neuberg Anand Reference Laboratory, Bengaluru<br />
    <br />
<b>Maharashtra</b><br />
Thyrocare Mumbai<br />
Suburban Diagnostics Mumbai<br />
Metropolis Healthcare Ltd Mumbai<br />
Sir H.N. Reliance Foundation Hospital and Research Centre, Mumbai<br />
    <br />
    </div>
<div class="newme">
<h3>HELP_LINE</h3>
<address>
 <b>  01.
Andhra Pradesh
0866-2410978,<br>
02.
Arunachal Pradesh
9436055743,<br>
03.
Assam
6913347770,<br>
04.
Bihar
104,<br>
05.
Chhattisgarh
077122-35091,<br>
06.
Goa
104,<br>
07.
Gujarat
104,<br>
08.
Haryana
8558893911,<br>
09.
Himachal Pradesh
104,<br>
10.
Jharkhand
104,<br>
11.
Karnataka
104,<br>
12.
Kerala
0471-2552056,<br>
13.
Madhya Pradesh
0755-2527177,<br>
14.
Maharashtra
020-26127394,<br>
15.
Manipur
03852411668,<br>
16.
Meghalaya
108,<br>
17.
Mizoram
102,<br>
18.
Nagaland
7005539653,<br>
19.
Odisha
9439994859,<br>
20.
Punjab
104,<br>
21.
Rajasthan
0141-2225624,<br>
22.
Sikkim
104,<br>
23.
Tamil Nadu
044-29510500,<br>
24.
Telangana
104,<br>
25.
Tripura
0381-2315879,<br>
26.
Uttarakhand
104,<br>
27.
Uttar Pradesh
18001805145,<br />
28.
West Bengal
03323412600,<br></b>

    <br />
<b>Read more at:</b>
    <br />
 <div class="mybutton1">
   <p><a href="https://www.covid19india.org/links" target="iframe_a">Covid 19 India >></a></p>
 </div>
    <iframe height="300px" width="70%" name="iframe_a" align="middle"></iframe>

</address>
    </div>
    </div>

    
{% endblock %}
